
@font-face {
    font-family: "Score_Board";
    src: url(/style/fonts/scoreboard.ttf);
 }

 @font-face {
    font-family: "G7_Cube_5";
    src: url(/style/fonts/G7_Cube_5.ttf);
 }

 @font-face {
    font-family: "Liquid_Crystal";
    src: url(/style/fonts/G7_Cube_5.ttf);
 }
 
